<% if @user %>
	
	<p> Hey, <%= @user.name %>! <p>
	<p><%= @message %></p>

<% else %>

	<%= @message %>
	<%= form_tag("/secret", method: "POST") do %>

		<p>Enter Your User Name</p>
		<%= text_field_tag(:user_name) %>

		<%= submit_tag("Submit") %>
	<% end %>
<% end %>